* {
    margin: 0;
}

body {
    font-family: 'Geist', sans-serif;
    background-image: url('/models/library.jpeg');
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
}

